* {
    box-sizing: border-box;
}

body {
    background-color: black/* rgb(49, 49, 49) */;
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    /* background-image: url(pictures/dbd.jpg) ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-cont {
    width: 50%;
    padding: 2vmin;
}

.large-button {
    min-width: 50vmin;
    height: 100px;
    border-radius: 2vmin;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: black
}

.medium-button {
    min-width: 25vmin;
    height: 70px;
    border-radius: 1vmin;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black
}

.small-button {
    min-width: 100%;
    height: 70px;
    border-radius: 1vmin;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: black
}


button:active {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.tarolo {
    border: 5px solid rgb(255, 255, 255); 
    background-color: rgb(126, 126, 126);
    min-height: 150px; 
    border-radius: 1vmin;
    box-sizing: border-box;
    padding: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.row div {
    display: flex; justify-content: center;
}

h1 {
    color: white;
    font-weight: bold;
}

h2 {
    margin: 0;
}

div {
    padding: 0;
}